/*
.col {
  height: 90vh;
  margin: 1px;
  box-shadow: 0 0 5px black;
}
*/

/*
.right {
   border: 1px solid red;
}
*/

button {
  margin: 5px;
}


table {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 2.5px;
  border: 1px solid lightblue;
  min-width: 35px;
  text-align: center;
}
